{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}

    {{ form_errors(form) }}

    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-md-8 text-center mb-5">
                <h1>PROFIL</h1>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="custom-card col-md-6 mb-5">
        {{ form(form) }}
            </div>
        </div>
    </div>

{% endblock %}
