{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}

    {{ form_errors(form) }}

    {{ form(form) }}

    <a href="{{ path('app_profile_user', {'id': user.id}) }}">Voir</a>

{% endblock %}
