{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <h2>Bienvenue sur le site Sortir.com</h2>

    <div class="jumbotron">Afin de pouvoir accéder à toutes les fonctionnalités du site, veuillez vous connecter ou de voir avec l'administrateur pour créer un compte.
    </div>
{% endblock %}
