{# templates/dashboard.html.twig #}

{% extends '@EasyAdmin/layout.html.twig' %}

{% block body_id 'dashboard' %}

{% block main %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"><i class="far fa-user"></i> Utilisateurs : {{ user_count }}</h5>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fa fa-beer"></i> Nombre de Sorties : {{ meeting_count }}</h5>
                        </div>
                    </div>
                </div>
                <hr>
                <h2>Upload d'utilisateurs par fichier csv (email,login,password,role,campus)</h2>
                <form action="{{ path('admin_upload_csv') }}" method="post" enctype="multipart/form-data">
                    <input type="file" name="csv_file">
                    <button type="submit">Importer</button>
                </form>
                <!-- Ajoutez d'autres boîtes d'informations pour d'autres entités -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
{% endblock %}