{# templates/dashboard.html.twig #}

{% extends '@EasyAdmin/layout.html.twig' %}

{% block body_id 'dashboard' %}

{% block main %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- Info box -->
                    <div class="info-box">
                        <span class="info-box-icon bg-info"><i class="far fa-user"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Utilisateurs</span>
                            <span class="info-box-number">{{ user_count }}</span>
                        </div>
                    </div>
                </div>
                <!-- Ajoutez d'autres boîtes d'informations pour d'autres entités -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
{% endblock %}